/* COUNTER */
.count{
	display: flex;
	flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0,0.5);
    border: none;
    justify-content: center;
	align-items: center;
	padding: 10px;
}
.count .btn_area{
	display: flex;
    box-sizing: border-box;
	flex-direction: row;
    justify-content: center;
	align-items: center;
}
.count .life_history{
	display: flex;
    box-sizing: border-box;
	flex: row;
	justify-content: center;
}
.count .life_history p{
    display: flex;
    width: 100%;
    height: 90%;
    line-height: 100%;
    box-sizing: border-box;
	font-size: 3dvh;
    font-weight: 500;
	text-align: center;
    letter-spacing: 1dvh;
    vertical-align: middle;
    justify-content: center;
}
.count .btn_area button, .count .btn_area p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 10dvh;
    font-weight: 400;
	text-align: center;
}
.count .btn_area p{
    width: 40%;
}
.count button:hover{
    color: #F00;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}