.main-container{
    display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
    border: none;
	background-color: transparent;
	transform: rotate(90deg);
	margin-top: 50px;
}

.main-container .row{
    display: flex;
	flex-direction: row;
}
.main-container .rot{
	transform: rotate(180deg);
}

.player_div{
    position: relative;
    display: flex;
	flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    transform: none;
}
.player_div .row{
	display: flex;
	flex-direction: row;
    align-items: flex-start;
    transform: none;
}

/* PLAYER NUMBER */
.player_div .number{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: cadetblue;
    border: 1px solid #FFF;
    border-radius: 5px;
    transform: none;
}
.player_div .number p{
	font-size: clamp(18px, 3vw, 26px);
    font-weight: 800;
}

/* LEADERS */
.player_div .leader_data {
	display: flex;
    flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.player_div .leader_data .leader-img {
    display: flex;
    box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #FFF;
	background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 400%;
	background-position: -20px -10px; /* left top */
	width: 70%;
	min-height: 20%;
	height: 25%;
	z-index: 10;
}

/* BASE */
.player_div .base_data{
	display: flex;
    padding: 0;
    border: none;
	justify-content: center;
	overflow: hidden;
    transform: none;
}
.player_div .base_data .base-img {
	overflow: hidden;
	border: 2px solid #FFF;
	border-bottom: none;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: left top; /* left top */
	width: 100%;
    height: 100%;
}

.leader_data .leader-img:hover, 
.leader_data .leader-img:active,
.base_data .base-img:hover,
.base_data .base-img:active{
    border-color: #F00;
    cursor: pointer;
}

/* TOKEN PLAYER */
.player_div .token{
    display: flex;
	padding: 0;
    border: none;
    align-items: center;
    justify-content: center;
	justify-items: center;
	overflow: visible;
    transform: none;
}
.player_div .token img{
    display: flex;
	box-sizing: border-box;
	justify-self: center;
    width: 90%;
    height: 90%;
	margin-bottom: 20px;
    object-fit: cover;
	overflow: visible;
    transform: none;
}

/* SELECT BASE AND LEADER */
.player_div .select_base_leader{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
    transform: none;
}
.player_div .select_base_leader select{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
    transform: none;
}
.player_div .select_base_leader button {
	display: flex;
	margin: 2px;
    padding: 5px;
    width: 80%;
	height: 20px;
	flex: 1;
	flex-wrap: wrap;
    border: none;
    border-radius: 15px;
    background-color: #30475E; 
    color: #F5F7F8;
    font-size: 2dvh;
    font-weight: 200;
    cursor: pointer;
	justify-content: center;
	align-self: center;
	line-height: 20px;
    transform: none;
}
.player_div.select_base_leader button:hover {
    background-color: darkred;
}

/* TOKENS */
.ts_buttons{
    position: absolute;
    box-sizing: border-box;
    display: flex;
	align-items: center;
	align-self: center;
	bottom: 40%;
    width: 40%;
    height: 8%;
    padding: 5px;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    border: none;
    z-index: 15;
	transform: rotate(90deg);
}
.ts_buttons .btn{
    border: none;
    padding: 5px;
	margin: 5px;
    background-color: transparent;
    vertical-align: middle;
    align-items: center;
    border-radius: 5px;
    width: auto;
    height: 100%;
    cursor: pointer;
    transform: rotate(90deg);
    justify-content: center;
}
.ts_buttons .btn:hover{
    background-color: brown;
}
.ts_buttons .clear:hover{
    background-color: transparent;
    color: Tomato;
}
.ts_buttons .btn img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

/* POSITIONS */
	/* PLAYER 1 */
	#player_1 .leader_data, #player_1 .base_data{
		background-color: var(--player-1);
	}

	/* PLAYER 2 */
	#player_2 .leader_data, #player_2 .base_data{
		background-color: var(--player-2);
	}
	#player_2 .number{
		right:0;
	}
	#player_2 .row{
		justify-content: flex-end;
	}

	/* PLAYER 3 */
	#player_3 .leader_data, #player_3 .base_data{
		background-color: var(--player-3);
	}

	/* PLAYER 4 */
	#player_4 .leader_data, #player_4 .base_data{
		background-color: var(--player-4);
	}
	#player_4 .number{
		right:0;
	}
	#player_4 .row{
		justify-content: flex-end;
	}

/* Media query para telas menores (ex: dispositivos móveis) */
@media (max-width: 768px) {
	.main-container{
		width: 190%;
		height: 60%;
		margin-left: -140px;
	}
	.leader_data .leader-img {
		background-position: -45px -25px; /* left top */
		width: 35%;
		height: 100%;
	}
	.ts_buttons {
		width: 35%;
		height: 10%;
	}

	.player_div .number{
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: clamp(14px, 2vw, 20px);
	}
	.player_div .token img{
		width: 100%;
		height: 60%;
		object-fit: cover;
	}
}

/** SWEETALERT **/
.swal2-radio label{
	justify-self: center;
	padding: 5px;
	background-color: #F00;
	color: #FFF;
	font-weight: 400;
}